{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        {{ flashMessage }}
    {% endfor %}

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <form action="{{ path('login_check') }}" method="post">
        {#
          <label for="username">Username:</label>
          <input type="text" id="username" name="_username" value="{{ last_username }}" />
        #}

        <label for="email">Email:</label>
        <input type="text" id="email" name="_email" value="{{ last_email }}"/>


        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>
        <button type="submit">login</button>
        &nbsp&nbsp&nbsp&nbsp
        <a href="{{ path('password_email_reset') }}">Forgot password?</a> &nbsp&nbsp&nbsp&nbsp
        <a href="{{ path('user_register') }}">Register</a>

        <input type="hidden" name="_target_path" value="tpfnd_home"/>
    </form>
{% endblock %}

